.projectsContainer {
  display: flex;
  flex-flow: column wrap;
  margin: 5vh 6vw;
}

.projectsTitle {
  margin-top: 2vh;
  font-size: 2.5vw;
  font-weight: 600;
  color:rgb(45,59,75)
}

.highlightsInDesp {
  font-weight: 600;
  color:#2c98f0;
}

.projectsPageTitle {
  font-family: 'Girassol', cursive;
  font-size: 3vw;
}

.projectsListContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1vw;
  border-bottom: 1px solid #edf0f2;
  font-family: 'Quicksand', sans-serif;
  margin-top: 5vw;
}

.projectsImg {
  max-width: 35vw;
  max-height: 33vh;
  display: flex;
  flex-flow: column wrap;
  margin-top: 5vh;
  position: relative;
  display: block;
}

.links ul {
  list-style-type: none;
  padding: 0;
}

.links ul a {
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  color: #7992AE;
  font-size: 2.5vw;
}

.links ul a:hover {
  color:#2c98f0;
}

.heroImg {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width:100%;
  height:100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(45,59,75, 0.8);
}

.heroImg:hover .overlay {
  opacity: 1;
}

.projectsDescription {
  font-size: 1.3vw;
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-20%, -20%);
  text-align: center;
  color: papayawhip;
}
