.selfieContainer {
  display: flex;
  flex-direction: column;
}

.selfie img {
  width: 15vw;
  height: 15vw;
  border-radius: 100%;
  position: relative;
}

.name {
  font-family: 'Girassol', cursive;
  font-size: 2rem;
  text-align: center;
}

.self-intro {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  color: #7992AE;
  margin: 0.3rem 0 1rem 0;
}

@media (min-width: 375px) {
  .selfie img {
    margin: 15% 15% !important;
  }
}