.navbarContainer {
  position: fixed;
  display: grid;
  align-content: center;
  justify-content: center;
  width: 25vw;
  height: 100vh;
  z-index: 999;
}

nav ul {
  list-style-type: none;
  text-decoration: none;
  color: #7992AE;
}

nav a {
  display: flex;
  justify-content: center;
  position: relative;
  text-decoration: none;
  color:rgb(74,97,123);
  font-family: 'Quicksand', sans-serif;
  transition: 0.3s;

  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 1rem;
}

nav a.inactive:before {
  content: "";
  position: absolute;
  width: 7vw;
  height: 1px;
  bottom: 0;
  background-color: #2c98f0;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out 0s;
}

nav a.inactive:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

nav a.active {
  border-bottom: 1px solid #2c98f0;
  color:#2c98f0;
  width: 7vw;
  margin-left: auto;
  margin-right: auto;
}

