.navbar {
  display: block;
  width: 400px;
  height: 100vh;
  z-index: 999;
}

nav a {
  text-decoration: none;
  color: #7992AE;
  font-family: 'Quicksand', sans-serif;
  transition: 0.3s;
  position: relative;
  font-size:15px;
  font-weight: 500;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  margin: 15px;
}

nav a.inactive:before {
  content: "";
  position: absolute;
  width: 30%;
  height: 1px;
  bottom: 0;
  background-color: #2c98f0;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out 0s;
}

nav a.inactive:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

nav a.active {
  border-bottom: 1px solid #2c98f0;
  color:#2c98f0;
  width: 28%;
  margin-left: auto;
  margin-right: auto;
}


