.carouselImages {
  display: flex;
  position: fixed;
  margin: 0 2vw 0 4vw;
  z-index: 1;
  top: 5%;
  bottom: 5%;
  max-width: 70vw;
  max-height: 100vh;
}

.carouselInfo {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  font-family: 'Girassol', cursive;
  font-size: 3.5vw;
  z-index: 2;
  position: absolute;
  margin: auto 4vw auto 6vw;
  margin-left: 10vw;
  top: 30%;
  bottom: 10%;
  color:papayawhip;
}

.junContainer, .developerContainer, .codesContainer, .toysContainer {
  display: flex;
  justify-content: left;
}

.jun, .developer, .codes, .toys {
  color: ivory;
}

@keyframes jun {
  0% { transform: rotate(0deg), scale(3); }
 25% { transform: rotate(15deg); }
 50% { transform: rotate(-15deg); }
 75% { transform: rotate(15deg); }
100% { transform: rotate(0deg); }
}

.jun:hover, .jun:focus, .jun:active {
  transform: scale(1.8);
  transition: 0.3s;
  animation: jun 1s infinite;
}

@keyframes developer {
  0% { transform: rotate(0deg), scale(3); }
 25% { transform: rotate(15deg); }
 50% { transform: rotate(-15deg); }
 75% { transform: rotate(15deg); }
100% { transform: rotate(0deg); }
}

.developer:hover, .developer:focus, .developer:active {
  transform: scale(1.8);
  transition: 0.3s;
  animation: developer 1s infinite;
}

@keyframes codes {
  0% { transform: rotate(0deg), scale(3); }
 25% { transform: rotate(15deg); }
 50% { transform: rotate(-15deg); }
 75% { transform: rotate(15deg); }
100% { transform: rotate(0deg); }
}

.codes:hover, .codes:focus, .codes:active {
  transform: scale(1.8);
  transition: 0.3s;
  animation: codes 1s infinite;
}

@keyframes toys {
  0% { transform: rotate(0deg), scale(3); }
 25% { transform: rotate(15deg); }
 50% { transform: rotate(-15deg); }
 75% { transform: rotate(15deg); }
100% { transform: rotate(0deg); }
}

.toys:hover, .toys:focus, .toys:active {
  transform: scale(1.8);
  transition: 0.3s;
  animation: toys 1s infinite;
}