footer {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  font-size: 1rem;
  color: #79797B;
  margin-top: 5vh;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.socialMedia img {
  height: 1.25rem;
  margin: 2vh 20px 10px 2vh;
  display: inline-block;
}

.resume button {
  flex-wrap: nowrap !important;
  border-radius: 5px;
  font-size: 15px;
  background-color: #2c98f0;
  min-height: 2rem;
  color: #F2F3F7;
  font-family: 'Quicksand', sans-serif;
}