body {
  margin:0;
  padding:0;
  background-color: #F2F3F7;
  cursor: pointer;
}

.homeContainer {
  display: flex;
}

.homePageContainer, .projectsPageContainer, .contactPageContainer{
  margin-left: 20vw;
}

