body {
  margin:0;
  padding:0;
  background-color: #F2F3F7;
}

.homeContainer {
  display: flex;
}

.homePageContainer, .projectsPageContainer {
  margin-left: 400px;
}

.projectsContainer {
  margin-top: 785px;
}